@font-face {
  font-family: "Lato-Black";
  src: url(./Lato/Lato-Black.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato-Light";
  src: url(./Lato/Lato-Light.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato-Regular";
  src: url(./Lato/Lato-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato-Thin";
  src: url(./Lato/Lato-Thin.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(./Poppins/Poppins-Medium.woff2) format("woff2");
  font-display: swap;
}
